<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--两个绑定:一个映射-->
<mapper namespace="com.itheima.springboot_ssm_store.dao.AdminDao">
    <select id="findAllCategory" resultType="Category">
    SELECT * FROM category
  </select>
    <delete id="deleteCategoryById" >
        DELETE FROM category WHERE cid = #{cid}

    </delete>

    <select id="getRows" resultType="int" >
        SELECT count(*) FROM category
    </select>

    <insert id="addCategory">
     INSERT INTO category(cid,cname) VALUES(#{newCid},#{cname})
    </insert>
    <select id="findCategoryById" resultType="Category">
        SELECT * FROM category WHERE cid = #{cid}
    </select>

    <update id="editCategoryById">

        UPDATE category SET cname=#{cname} WHERE cid = #{cid}

    </update>
    <select id="findProductByPage" resultType="Product">
      SELECT * FROM product
    </select>

    <select id="getProductRows" resultType="int" >
        SELECT count(*) FROM product
    </select>

    <insert id="addProduct">
      INSERT INTO product(pname,is_hot,market_price,shop_price,pimage,cid,pdesc,pdate,pflag,pid)
      VALUES(#{pname},#{is_hot},#{market_price},#{shop_price},#{pimage},#{cid},#{pdesc},#{pdate},#{pflag},#{pid})
    </insert>


</mapper>