<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--两个绑定:一个映射-->
<mapper namespace="com.itheima.springboot_ssm_store.dao.ProductDao">
<select id="getHottest" resultType="product">
    SELECT * FROM product WHERE is_hot = '1' limit 0,9
  </select>
<select id="getNewest" resultType="product">
   SELECT *FROM product ORDER BY pdate DESC limit 0,9
  </select>
<select id="getProductById" resultType="product">
   SELECT *FROM product where pid = #{pid}
  </select>
<select id="getProductByPage" resultType="product">
   SELECT *FROM product where cid = #{cid}
  </select>
        </mapper>